// -------------classes de base----------------------
//flex
.d-flex {
  display: flex;
}

// definir la direction
.flex-row {
  flex-direction: row;
}

// definir la colonne
.flex-column {
  flex-direction: column;
}

// pour centrer
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}

//pour prendre l'espace disponible
.flex-fill {
  flex: 1 1 auto;
}

// marges interieurs de base (padding)
//marge intérieur 10px
.p-10 {
  padding: 10px;
}

//padding horizontal droite et gauche
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
//marge intérieur 20px
.p-20 {
  padding: 20px;
}
//marge intérieur 30px
.p-30 {
  padding: 30px;
}

// -----marges exterieures de base (margin)----------
//marge exterieure 5px
.mb-5 {
  margin-bottom: 5px;
}

//marge exterieure 10px
.m-10 {
  margin: 10px;
}
//marge exterieure 20px
.mr-20 {
  margin: 20px;
}
// marge droite 10px
.mr-10 {
  margin-right: 10px;
}

//marge exterieure bas 10px
.mb-10 {
  margin-bottom: 10px;
}

//marge exterieure bas 20px
.mb-20 {
  margin-bottom: 20px;
}
//marge exterieure 20px
.m-20 {
  margin: 20px;
}
//marge exterieure 30px
.m-30 {
  margin: 30px;
}
// marge gauche
.ml-20 {
  margin-left: 20px;
}
//marge haut
.mt-20 {
  margin-top: 20px;
}

//util
.hide-xs {
  @include xs {
    display: none;
  }
}

//--------fin classes de base-------------------------

//buttons
.btn {
  padding: 8px 15px;
  border: 0;
  border-radius: $colorborder-radius;
  cursor: pointer;
  font-weight: 500;

  transition: background-color 0.2s;
}

.btn-primary {
  background-color: $colorprimary-1;
  color: $colortext-primary;
  &:hover {
    background-color: $colorprimary-2;
  }
}

.btn-danger {
  background-color: $colordanger-1;
  color: $colortext-primary;
  :hover {
    background-color: $colordanger-2;
  }
}
.btn-success {
  background-color: $colorsuccess-1;
  color: $colortext-primary;
  :hover {
    background-color: $colorsuccess-2;
  }
}

input,
textarea,
select {
  border: $colorborder;
  border-radius: $colorborder-radius;
  padding: 8px 15px;
}

labe {
  font-size: 14px;
  font-weight: 500;
  color: $colorgray-3;
}

.form-error {
  color: $colordanger-1;
  font-size: 14px;
  font-weight: 500;
}
