

// couleurs de base
$colorprimary-1: #3498db;
$colorprimary-2: #2980b9;
$colordanger-1: #e74c3c;
$colordanger-2: #c0392b;
$colorsuccess-1: #2ecc71;
$colorsuccess-2: #27ae60;
$colorgray-1: #f6f6f6;
$colorgray-2: #ddd;
$colorgray-3: #34495e;

$colortext: #444;
$colortext-primary: white;

// text polices
$font-familly: "Roboto", sans-serif;

// border
$colorborder: 1px solid $colorgray-2;
$colorborder-radius: 4px;
